.inicio {
    display: flex;
    flex-direction: column;
}
.heists {
    width: 100%;
    text-align: center;
}
#imagen {
    padding-top: 50px;
    width: 95%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.parte_media {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}
.parte_media img {
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    margin: 5rem;
}

.disImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
